.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-nav {
  display: flex;
  position: sticky;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  z-index: 1;
  margin-top: -8px;
  background: #242424;
  padding: 8px 0 12px;
  width: 97.5vw;
  top: 0;
}

@media (prefers-color-scheme: light) {
  .dashboard-nav {
    background: #d2bff9;
  }
}

.dashboard-nav--standalone {
  top: -1px;
  max-width: 631px;
}

.dashboard-nav *:first-child {
  margin-left: 0;
}

.dashboard-nav *:last-child {
  margin-right: 0;
}

.dashboard-nav img {
  width: 20px;
}

.dashboard-nav button {
  margin-bottom: 0;
}

.dashboard-delete-zone,
.dashboard-duplicate-zone,
.dashboard-share-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: max-height 0.5s ease-out;
  max-height: 0;
  overflow: hidden;
}

.dashboard-delete-zone.show-delete-zone,
.dashboard-duplicate-zone.show-duplicate-zone,
.dashboard-share-zone.show-share-zone {
  transition: max-height 0.3s ease-in;
  max-height: 200px;
}

.dashboard-delete-zone input,
.dashboard-duplicate-zone input {
  height: 2rem;
  font-size: 1.25rem;
}

.dashboard-delete-zone-confirm,
.dashboard-duplicate-zone-confirm,
.dashboard-share-zone-confirm {
  margin-bottom: 1rem;
}

.dashboard-nav-header {
  display: flex;
  justify-content: flex-start;
}

.dashboard-nav-header h2 {
  margin-top: 0;
}

.dashboard-toolbar-container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 68px;
  z-index: 1;
  background-color: #242424;
  padding-bottom: 10px;
}

.dashboard-toolbar-zone {
  display: flex;
  justify-content: space-evenly;
  transition:
    border-color 0.25s,
    background-color 0.25s;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #4c396e;
  min-height: 40px;
  width: 100%;
  /* Using --baseBorderHover for the disabled styling of undo/redo buttons */
  --baseBorderHover: #ba98ff8a;
}

.dashboard-toolbar-zone button {
  color: #ceb6fe;
}

.dashboard-toolbar-zone:hover {
  border-color: #ba98ff;
}

.dashboard-toolbar-zone > * {
  display: none;
}

.dashboard-toolbar-zone > *:nth-last-child(-n+9) {
  display: flex;
}

.dashboard-toolbar-zone div[role=group] {
  display: flex;
}


@media (prefers-color-scheme: light) {
  .dashboard-toolbar-container {
    background-color: #d2bff9;
  }

  .dashboard-toolbar-zone {
    background-color: #4c2696;
    --baseBorderHover: #ceb6fe84;
  }

  .dashboard-toolbar-zone:hover {
    border-color: #8447ff;
  }

  .dashboard-toobar-zone-placeholder {
    color: white;
  }

  .dashboard-toobar-zone-placeholder a {
    color: #d2bff9;
  }
}
