.dashboardNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboardNav *:first-child {
  margin-left: 0;
}

.dashboardNav *:last-child {
  margin-right: 0;
}

.dashboardNav img {
  width: 20px;
}

.dashboardDeleteZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0px; /* Initial state - div is hidden */
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.dashboardDeleteZone.showDeleteZone {
  max-height: 200px; /* Example max height */
  transition: max-height 0.3s ease-in;
}

.dashboardDeleteZone input {
  height: 2rem;
  font-size: 1.25rem;
}

.dashboardDeleteZoneConfirm {
  margin-bottom: 1rem;
}
