.dashboard-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-nav *:first-child {
  margin-left: 0;
}

.dashboard-nav *:last-child {
  margin-right: 0;
}

.dashboard-nav img {
  width: 20px;
}

.dashboard-nav button {
  margin-bottom: 0;
}

.dashboard-delete-zone,
.dashboard-duplicate-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: max-height 0.5s ease-out;
  max-height: 0;
  overflow: hidden;
}

.dashboard-delete-zone.show-delete-zone,
.dashboard-duplicate-zone.show-duplicate-zone {
  transition: max-height 0.3s ease-in;
  max-height: 200px;
}

.dashboard-delete-zone input,
.dashboard-duplicate-zone input {
  height: 2rem;
  font-size: 1.25rem;
}

.dashboard-delete-zone-confirm,
.dashboard-duplicate-zone-confirm {
  margin-bottom: 1rem;
}

.dashboard-nav-header {
  display: flex;
  justify-content: flex-start;
}
