/* Folder creator uses --folder and --primary-light for button colors */
.folder-creator {
  display: flex;
  align-items: center;
}

.folder-creator-button {
  background-color: var(--folder);
  padding: 0.25rem;
}

.folder-creator-button img {
  width: 28px;
}

.folder-creator-button:hover {
  border-color: var(--folder-hover);
}

html[data-theme="light"] {
  .folder-creator-button {
    background-color: var(--primary-light);
    border-color: var(--folder);
    padding: 0.25rem;
  }

  .folder-creator-button:hover {
    border-color: var(--folder-hover);
  }

  .folder-creator-button img {
    filter: brightness(0);
  }

}

.folder-creator-input {
  flex-grow: 1;
  width: 100%;
  height: 2rem;
  font-size: 1.25rem;
}

.folder-creator-options-container {
  width: 100%;
}

.folder-creator-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
}

.folder-creator-breadcrumb-link {
  cursor: pointer;
  color: var(--link);
  font-weight: 600;
}

html[data-theme="light"] {
  .folder-creator-breadcrumb-link {
    color: var(--primary-dark);
  }
}

.folder-creator-breadcrumb-link:hover {
  text-decoration: underline;
}

.folder-creator-breadcrumb-current {
  font-weight: 900;
}

.folder-creator-delete-folder {
  padding: 0.5rem;
  margin-right: 0;
}

.folder-creator-delete-folder img {
  width: 20px;
}

html[data-theme="light"] {
  .folder-creator-delete-folder {
    background-color: var(--primary-light);
  }

  .folder-creator-delete-folder img {
    filter: contrast(3) brightness(0.9);
  }
}

.folder-delete-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: max-height 0.3s ease-out;
  border-radius: 8px;
  background-color: var(--surface);
  max-height: 0;
  overflow: hidden;
  text-align: center;
}

.folder-delete-zone p {
  max-width: 25rem;
}

.folder-delete-zone.show-folder-delete-zone {
  transition: max-height 0.3s ease-in;
  margin-top: 0.8rem;
  margin-bottom: 0.25rem;
  max-height: 200px;
}

.folder-delete-zone input {
  height: 2rem;
  font-size: 1.25rem;
  width: 100%;
}

.folder-delete-zone-confirm {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 25rem;
}
