.folder-creator {
  display: flex;
  align-items: center;
}

.folder-creator-button {
  background-color: #83572f;
  min-width: 8rem;
}

.folder-creator-button:hover {
  border-color: #d69659;
}

.folder-creator-input {
  flex-grow: 1;
  height: 2rem;
}
