.Content,
.SubContent {
	min-width: 220px;
	background-color: var(--button-bg-color);
	border-radius: 6px;
	padding: 5px;
	box-shadow: 0 4px 10px var(--black);
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	&[data-side="top"] {
		animation-name: slideDownAndFade;
	}
	&[data-side="right"] {
		animation-name: slideLeftAndFade;
	}
	&[data-side="bottom"] {
		animation-name: slideUpAndFade;
	}
	&[data-side="left"] {
		animation-name: slideRightAndFade;
	}
}

.Item,
.CheckboxItem,
.RadioItem,
.SubTrigger {
	font-size: 13px;
	line-height: 1;
	color: var(--text);
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 5px;
	position: relative;
	padding-left: 25px;
	user-select: none;
	outline: none;
	&[data-disabled] {
		color: var(--icon-disabled);
		pointer-events: none;
	}
	&[data-highlighted] {
		background-color: var(--button-hover);
		color: var(--text-alt);
	}
}

.SubTrigger[data-state="open"]:not([data-highlighted], [data-disabled]) {
	background-color: var(--link-hover);
	color: var(--text-alt);
}

.Label {
	padding-left: 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--dice-display-border);
}

.Separator {
	height: 1px;
	background-color: var(--button-hover);
	margin: 5px;
}

.ItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.Arrow {
	fill: var(--button-bg-color);
}

.IconButton {
	all: unset;
	font-family: inherit;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--icon);
	background-color: var(--button-bg-color);
	user-select: none;

	&:hover {
		background-color: var(--button-hover);
		color: var(--icon-alt);
	}
	
	&:focus {
		box-shadow: 0 0 0 2px var(--icon);
	}

	&[data-state="open"] {
		transform: translate(8px, -8px);
	}
}

.RightSlot {
	margin-left: auto;
	padding-left: 20px;
}

.RadioGroup {
	height: 7rem;
	overflow-y: scroll;
	scrollbar-width: thin;
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
