/* PopOver styles rely on --white and --black for icon colors */
.pop-over h1 img {
  position: relative;
  top: 4px;
  width: 44px;
  height: auto;
}

.pop-over h3 {
  font-weight: 100;
}

.dashboard-creator {
  display: flex;
  flex-direction: column;
}

.dashboard-creator input {
  height: 2rem;
  font-size: 1.25rem;
}

.premade-dashboards button {
  font-size: 0.75rem;
}

.premade-dashboards [data-title="5e Premades"] {
  margin-top: 0;
}

.dashboard-input {
  display: flex;
  align-items: center;
}

.dashboard-input input[name="dashboardName"] {
  flex-grow: 1;
  width: 100%;
}

.dashboard-input-selections {
  display: flex;
  justify-content: space-between;
}

.dashboard-input-selections button {
  width: 50%;
}

.dashboard-input-selections button svg {
  fill: var(--white);
}

html[data-theme="light"] {
  .dashboard-input-selections button svg {
    fill: var(--black);
  }
}


.dashboard-info-link {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.dashboard-info-link img {
  width: 20px;
  height: 20px;
}

html[data-theme="light"] {
  .dashboard-info-link img {
    filter: brightness(0);
  }
}
