.pop-over h1 img {
  position: relative;
  top: 4px;
  width: 40px;
  height: auto;
}

.dashboard-creator {
  display: flex;
  flex-direction: column;
}

.dashboard-creator input {
  height: 2rem;
  font-size: 1.25rem;
}
