/*
  Theme variables controlling UI colors.
  --bg: page background
  --text: main text color
  --surface: generic surface background
  --surface-alt: alternative background used inside widgets
  --border: border color for interactive elements
  --primary: primary accent color
  --primary-light: lighter accent used for hover states
  --primary-dark: darker accent used for active states
  --success: success color for dice results
  --failure: error color for dice results
  --folder: base folder color
  --folder-hover: folder hover color
  --folder-accent: inner folder color
  --up-folder-dark: darker move-folder-up color
  --up-folder-light: lighter move-folder-up color
*/

[data-theme='dark'] {
  --bg: #242424;
  --text: #fff;
  --input-background: #3b3b3b;
  --surface: #4c396e;
  --surface-alt: #3a3a3a;
  --grid-bg: #5f5f5f;
  --border: #858585;
  --primary: #8447ff;
  --primary-light: #b9f;
  --primary-dark: #4c2696;
  --primary-darker: #2b194f;
  --secondary-dark: #312544;
  --success: #0ad666;
  --failure: #ff4848;
  --folder: #7a583e;
  --folder-hover: #d6beae;
  --folder-accent: #7a583e;
  --up-folder-dark: #ad5252;
  --up-folder-light: #ff9c9c;
  --grid-placeholder: #5e5e5e;
  --white: #ffffff;
  --black: #000;
  --link: #a67dff;
  --link-hover: #c9b0ff;
  --link-visited: #a18979;
  --toolbar-border-hover: #ba98ff8a;
  --code-bg: #656565;
  --link-dialog-label: #d2bff9;
  --dice-label: #ffcf91;
  --dice-fill: #dcf;
}

[data-theme='light'] {
  --bg: #dfcffc;
  --text: #000;
  --input-background: #ffffff;
  --surface: #b9f;
  --surface-alt: #f0e9e9;
  --grid-bg: #999999;
  --border: #8447ff;
  --primary: #8447ff;
  --primary-light: #b9f;
  --primary-dark: #4c2696;
  --primary-darker: #4c2696;
  --secondary-dark: #312544;
  --success: #0ad666;
  --failure: #ff4848;
  --folder: #927745;
  --folder-hover: #ffb835;
  --folder-accent: #eed6a8;
  --up-folder-dark: #ad5252;
  --up-folder-light: #ff9c9c;
  --grid-placeholder: #5e5e5e;
  --white: #ffffff;
  --black: #000;
  --link: #7632ff;
  --link-hover: #a276fa;
  --toolbar-border-hover: #ceb6fe84;
  --code-bg: #656565;
  --link-dialog-label: #d2bff9;
  --dice-label: #ffcf91;
  --dice-fill: #dcf;
}
