#root {
  transform: translateX(8px);
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 1.125rem; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #242424; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #494949; /* color of the scrollbar itself */
  border-radius: 9px;
  border: 7px solid transparent;
  background-clip: content-box; /* Prevents the background from bleeding into the border */
  transition: background-color 0.3s; /* Smooth transition for background color */
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  -moz-transition: background-color .5s;
}

.scrolling ::-webkit-scrollbar-thumb {
  background-color: #858585; /* color of the scrollbar itself */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #bb99ff #242424; /* thumb and track color */
  overflow-y: scroll;
}

input,
button,
h1,
h2,
h3,
p {
  margin: 0.5rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #343333;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
  line-height: 0;
  min-height: 38px;
}

button:hover {
  border-color: #bb99ff;
}

button:focus,
button:focus-visible {
  background-color: #6b44b7;
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #bdbdbd;
    color: #000000
  }

  button:focus,
  button:focus-visible {
    background-color: #d8c4ff;
    outline: 4px auto -webkit-focus-ring-color;
  }
} */

.react-grid-layout {
  background-color: #5f5f5f;
  border: 5px solid transparent;
  border-radius: 8px;
  /* transition: border-color 0.25s; */
}

.react-grid-layout:hover {
  /* border: 1px solid #bb99ff; */
}

.react-grid-layout .react-grid-item {
  background-color: #3a3a3a;
  border-radius: 4px;
  padding: 0.25rem;
  margin-top: -5px;
  margin-left: -5px;
}

.react-grid-item>.react-resizable-handle::after {
  border-right: 2px solid #bb99ff;
  border-bottom: 2px solid #bb99ff;
}

.react-grid-layout .react-grid-item#addWidget  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px !important;
  height: 25px !important;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.react-grid-layout .react-grid-item#addWidget:hover  {
  border-color: #bb99ff;
}


.react-grid-layout .react-grid-item#addWidget img {
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
}
.react-grid-layout .react-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ba98ff;
}

.react-grid-layout .react-grid-item #deleteWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
}

.react-grid-layout .react-grid-item #deleteWidget img {
  width: 15px;
  height: 15px;
}

.react-grid-layout .react-grid-item#addWidget>.react-resizable-handle::after {
  display: none;
}

.react-grid-layout .react-grid-item#addWidget>.react-resizable-handle {
  display: none;
}

.editableMDWidget {
  color: white;
}

.editableMDWidget code {
  color: black;
}
