#no-owlbear {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#no-owlbear main {
  align-self: center;
  width: 100%;
  max-width: 631px;
  height: 650px;
}

@media only screen and (width <= 480px) {
  #no-owlbear main {
    align-self: flex-start;
  }
  #upload-button,
  #download-button {
    display: none;
  }
}

#no-owlbear main:has(> .dashboard) {
  align-self: flex-start;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #242424;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
  background-color: #494949;
}

.scrolling ::-webkit-scrollbar-thumb {
  background-color: #858585;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #bb99ff53 #242424;
}

html.scrolling {
  scrollbar-color: #b9f #242424;
}

input,
button,
h1,
h2,
h3,
p {
  margin: 0.5rem;
}

:root {
  background-color: #242424;
  text-rendering: optimizelegibility;
  line-height: 1.5;
  color: #fff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  font-synthesis: none;
  text-size-adjust: 100%;
}

h1 {
  line-height: 1.1;
  font-size: 3.2em;
}

button {
  transition:
    border-color 0.25s,
    background-color 0.25s;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #4c396e;
  cursor: pointer;
  padding: 0.5rem;
  min-height: 38px;
  line-height: 0;
  color: #fff;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
}

button#fifth-edition-char {
  background-color: #bf5d5d;
}

button:hover {
  border-color: #b9f;
}

button:active {
  background-color: #8447ff;
}

.react-grid-layout {
  border: 5px solid transparent;
  border-radius: 8px;
  background-color: #5f5f5f;
}

.react-grid-layout .react-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  margin-left: -5px;
  border: 2px solid #ba98ff;
  border-radius: 4px;
  background-color: #3a3a3a;
  padding: 0.25rem;
}

.react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid #b9f;
  border-bottom: 2px solid #b9f;
}

.react-grid-layout .react-grid-item #delete-widget {
  display: flex;
  position: absolute;
  top: 1px;
  right: 1px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.react-grid-layout .react-grid-item #delete-widget img {
  width: 15px;
  height: 15px;
}

#locked-dash .react-grid-layout .react-grid-item #delete-widget {
  display: none;
}

.react-grid-layout
  .react-grid-item#add-widget
  > .react-resizable-handle::after {
  display: none;
}

.react-grid-layout .react-grid-item#add-widget > .react-resizable-handle {
  display: none;
}

.editable-md-widget {
  padding: 0;
}

.editable-md-widget span,
.editable-md-widget strong,
.editable-md-widget em {
  color: #fff;
}

.editable-md-widget code span,
.editable-md-widget code strong,
.editable-md-widget code em {
  color: #000;
}

.editable-md-widget blockquote {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  margin-left: 0.5em;
  border-left: 3px solid #8447ff;
  padding-left: 1em;
  font-weight: 500;
  font-style: italic;
}

.editable-md-widget h1 + p:has(br),
.editable-md-widget h2 + p:has(br),
.editable-md-widget h3 + p:has(br),
.editable-md-widget h4 + p:has(br),
.editable-md-widget h5 + p:has(br),
.editable-md-widget h6 + p:has(br),
.editable-md-widget ul + p:has(br),
.editable-md-widget ol + p:has(br) {
  display: none;
}

.editable-md-widget li[role="checkbox"] {
  text-decoration: none;
}

.editable-md-widget li[role="checkbox"]::before {
  top: 3px;
}

.editable-md-widget li[role="checkbox"]::after {
  top: 6px;
}

.editable-md-widget ul,
.editable-md-widget ol {
  color: #fff;
}

.react-grid-layout .react-grid-item#add-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s;
  background-color: #4c2696;
}

.react-grid-layout .react-grid-item#add-widget:hover {
  background-color: #2b194f;
}

.react-grid-layout .react-grid-item#add-widget:active {
  background-color: #8447ff;
}

.react-grid-layout .react-grid-item#add-widget img {
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #d2bff9;
    color: #000;
  }

  button {
    background-color: #9d73f1;
    color: #000;
  }

  button.icon-button {
    background-color: #4c2696;
  }

  button:hover {
    border-color: #8447ff;
  }

  ::-webkit-scrollbar-track {
    background: #d2bff9;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d5c1ff;
  }

  .scrolling ::-webkit-scrollbar-thumb {
    background-color: #9773e4;
  }

  .react-grid-layout {
    background-color: #9773e4;
  }

  .react-grid-layout .react-grid-item {
    border: 2px solid #8447ff;
    background-color: #fff;
  }

  .react-grid-item > .react-resizable-handle::after {
    border-right: 2px solid #b9f;
    border-bottom: 2px solid #b9f;
  }

  .editable-md-widget span,
  .editable-md-widget strong,
  .editable-md-widget em {
    color: #000;
  }

  .editable-md-widget code span,
  .editable-md-widget code strong,
  .editable-md-widget code em {
    color: #000;
  }

  .editable-md-widget ul,
  .editable-md-widget ol {
    color: #000;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  border-radius: 50%;
  background: #fff;
  width: 13px;
  height: 13px;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
